#DepotTemoignage{
	float:left;
	
}
#Block{
	border: 2px solid;
	margin-top:5px;
}
#etpromo{
	
}
#parcours{
	
}
#info{
	border: 1px solid;
}
#allBlock{
	margin-top:45px;
}

#infotem{
		border: 2px solid;
		padding-left:2px;
}
